.button {
  font-size: 16px;
  font-weight: 600;

  color: #ffffff;
  background: #9dd558;
  border-radius: 18px;

  width: 100%;

  transition: background ease 0.2s;

  padding: 18px 0 18px 0;

  cursor: pointer;

  &-small {
    width: 60%;
  }

  &:active {
    background: rgb(44, 44, 44);
  }
}
