.favorite__list {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;

  padding: 0 20px 0 20px;
}

.favorite__title {
  display: flex;
  align-items: center;
  padding: 50px;
  font-size: 24px;
  font-weight: 700;

  button {
    background: none;
    cursor: pointer;

    margin-right: 30px;
  }
}

.favorite__empty {
  display: block;
  transform: translateX(150%);

  text-align: center;

  margin-top: 60px;
  margin-bottom: 60px;

  h3 {
    font-size: 22px;
    font-weight: 600;

    margin-top: 10px;
  }

  p {
    display: block;
    margin: 0 auto;

    width: 80%;

    font-size: 16px;
    line-height: 24px;

    opacity: 0.4;

    margin-top: 10px;

    margin-bottom: 50px;
  }
}
